{% extends 'base.html.twig' %}

{% block title %}Sortie cloturée!{% endblock %}

{% block body %}
    <h2>La sortie que vous cherchez à été clôturée car la date d'inscription est dépassée</h2>
{% endblock %}