{% extends 'base.html.twig'%}
{% block body%}
<h1>Créer une sortie</h1>
    <div class="formulaireSortie">
        <p>Affichage du formulaire de création de sortie</p>
        <input type="button" value="Publier la sortie">
        <input type="button" value="Enregistrer">
        <input type="button" value="Annuler">
    </div>
{%endblock%}