{% extends 'base.html.twig' %}

{% block title%}Toutes les sorties{%endblock%}
{% block body %}
    <div class="container">
        <div>
            {% include 'sortie/filtre.html.twig' %}
        </div>

        <table>
            <tr class="tableHeader">
                <td>nom de le sortie</td>
                <td>campus</td>
                <td>nbr inscrits max</td>
                <td>infos sortie</td>
            </tr>
            {% for sortie in sorties %}
                <tr class="tableBody">
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.campus.nom }}</td>
                    <td>{{ sortie.nombreInscriptionMax }}</td>
                    <td>{{ sortie.infosSortie }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

