{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center m-3 col text-center">
            <h1 class="">Formulaire de modifications des informations</h1>
            <div class="col-3">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}