{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Formulaire de modifications des informations</h1>

        {{ form(form) }}

    </div>



{% endblock %}